<div class="header">
  <div class="header__left">
    <div class="header__left__search">
      <img src="../../../../assets/images/search-icon.svg" alt="" />
      <input placeholder="Search" class="input input--gray" type="text" />
    </div>
  </div>
  <div class="header__right">
    <div class="header__right__timer">
      <div class="header__right__timer__info">July 152h</div>
      <div class="header__right__timer__user-icon">
        <img src="../../../../assets/images/user-icon.svg" alt="" />
      </div>
    </div>
  </div>
</div>
