<div class="company">
  <div class="company__header">
    <div class="company__header__name">
      <span class="company__label">Company</span>
      <span class="company__value">{{ item.company.companyName }}</span>
    </div>
    <div class="company__header__week">
      <app-week-view (onWeek)="onWeek($event)"></app-week-view>
    </div>
    <div class="company__header__total">
      <span class="company__label">Total</span>
      <span class="company__value">20h</span>
    </div>
  </div>
  <div class="company__body">
    <div
      *ngFor="let project of item?.filterProjects"
      class="company__body__item"
    >
      <div class="company__body__item__name">
        <span>{{ project.projectName }}</span>
      </div>
      <div class="company__body__item__week">
        <div
          *ngFor="let day of project.week"
          (click)="onDay(project, day)"
          class="company__body__item__week__day"
        >
          {{ day.counter?.hours || 0 + "h" }}
          {{ day.counter?.minutes || 0 + "m" }}
        </div>
      </div>
      <div class="company__body__item__total">
        <span>20h</span>
      </div>
    </div>
  </div>
</div>
