<div class="company">
  <div class="company__header">
    <div class="company__header__name">
      <span class="company__label">Company</span>
      <span class="company__value">Mejix</span>
    </div>
    <div class="company__header__week">
      <app-week-view
        (onFirstDayOfWeek)="onFirstDayOfWeek($event)"
      ></app-week-view>
    </div>
    <div class="company__header__total">
      <span class="company__label">Total</span>
      <span class="company__value">20h</span>
    </div>
  </div>
  <div class="company__body">
    <div class="company__body__item">
      <div class="company__body__item__name">
        <span>HD</span>
      </div>
      <div class="company__body__item__week">
        <div class="company__body__item__week__day">1h 30m</div>
        <div class="company__body__item__week__day">1h 30m</div>
        <div class="company__body__item__week__day">1h 30m</div>
        <div class="company__body__item__week__day">1h 30m</div>
        <div class="company__body__item__week__day">1h 30m</div>
        <div class="company__body__item__week__day">1h 30m</div>
        <div class="company__body__item__week__day">1h 30m</div>
      </div>
      <div class="company__body__item__total">
        <span>20h</span>
      </div>
    </div>
    <div class="company__body__item">
      <div class="company__body__item__name">
        <span>myFriendList</span>
      </div>
      <div class="company__body__item__week">
        <div class="company__body__item__week__day">1h 30m</div>
        <div class="company__body__item__week__day">1h 30m</div>
        <div class="company__body__item__week__day">1h 30m</div>
        <div class="company__body__item__week__day">1h 30m</div>
        <div class="company__body__item__week__day">1h 30m</div>
        <div class="company__body__item__week__day">1h 30m</div>
        <div class="company__body__item__week__day">1h 30m</div>
      </div>
      <div class="company__body__item__total">
        <span>20h</span>
      </div>
    </div>
  </div>
</div>
