<div class="modal">
  <div class="modal__header">
    <div class="modal__header__title">
      <span>{{ "ADD_PROJECT" | translate }}</span>
    </div>
    <div (click)="onClose()" class="modal__header__exite">
      <app-x-icon></app-x-icon>
    </div>
  </div>
  <div class="modal__body">
    <div [formGroup]="projectForm" class="add-project">
      <div class="add-project__company">
        <input
          class="input input--border-gray"
          [class.input--invalid]="
            projectForm.get('companyName')?.hasError('required') &&
            projectForm.get('companyName')?.touched
          "
          type="text"
          [placeholder]="'COMPANY_NAME' | translate"
          matInput
          formControlName="companyName"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
            >{{ option }}</mat-option
          >
        </mat-autocomplete>
      </div>
      <div class="add-project__projects">
        <div formArrayName="items" class="add-project__projects__names">
          <div
            *ngFor="let item of items.controls; let i = index"
            [formGroupName]="i"
            class="add-project__projects__names__item"
          >
            <input
              formControlName="projectName"
              [class.input--invalid]="
                item.get('projectName')?.hasError('required') &&
                item.get('projectName')?.touched
              "
              [placeholder]="'PROJECT_NAME' | translate"
              class="input input--border-gray"
            />
            <app-x-icon
              *ngIf="i !== 0"
              (click)="items.removeAt(i)"
              class="remove-item"
            ></app-x-icon>
          </div>
          <div class="add-project__projects__names__item">
            <div (click)="addItem()" class="btn btn--secondary">
              {{ "INSERT_PROJECT" | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal__actions">
    <div
      (click)="onCreateProject()"
      [class.loading]="isLoading"
      class="btn btn--primary"
    >
      {{ "ADD_PROJECT" | translate }}
    </div>
  </div>
</div>
