@import "../../../scss/global/variables";

.main {
  display: flex;
  position: relative;
  width: 100%;

  &__side-menu {
    position: relative;
    height: 100%;
    min-width: $side-menu-header-size;
    max-width: $side-menu-header-size;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  &__container {
    position: relative;
    z-index: 1;
    width: 100%;

    &__header {
      position: sticky;
      top: 0;
      height: $side-menu-header-size;
      width: 100%;
    }
  }
}
