<div class="projects">
  <div class="projects__header">
    <div class="projects__header__info">
      <div class="projects__header__info__title">
        <span>{{ "PROJECTS" | translate }}</span>
      </div>
      <div class="projects__header__info__actions">
        <div class="btn btn--secondary">
          {{ "ADD_PROJECT" | translate }}
        </div>
      </div>
    </div>
    <div class="projects__header__week-view">
      <app-week-view (onFirstDayOfWeek)="onFirstDayOfWeek($event)"></app-week-view>
    </div>
  </div>
  <div class="projects__info">
    <!-- <div class="home__info__no-result">
      <img src="../../../../assets/images/search-icon.svg" alt="">
      <span>{{ 'NO_RESULT' | translate }}</span>
    </div> -->
  </div>
</div>
