<div [class.loading]="isLoading" class="projects">
  <div class="projects__header">
    <div class="projects__header__info">
      <div class="projects__header__info__title">
        <span>{{ "PROJECTS" | translate }}</span>
      </div>
      <div class="projects__header__info__actions">
        <div (click)="addProject()" class="btn btn--secondary">
          {{ "ADD_PROJECT" | translate }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="companies" class="projects__info">
    <div *ngFor="let item of companies" class="projects__info__item">
      <app-company [item]="item"></app-company>
    </div>
    <!-- <div class="home__info__no-result">
      <img src="../../../../assets/images/search-icon.svg" alt="">
      <span>{{ 'NO_RESULT' | translate }}</span>
    </div> -->
    <!-- <app-company></app-company> -->
  </div>
</div>
