.btn {
  height: 56px;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: $text-color;
  transition: all 0.1s ease-in;

  &--primary {
    background-color: $primary-color;
    color: $text-color-contrast;
  }

  &--secondary {
    border: 1px solid $input-color;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    border-color: $primary-color;
  }
}
