.input {
  width: calc(100% - 64px);
  height: 56px;
  border-radius: 48px;
  box-shadow: none;
  outline: none;
  border: unset;
  padding: 0 32px;
  font-size: 16px;
  border: 1px solid transparent;
  transition: all 0.1s ease-in;
  position: relative;

  &:focus {
    border-color: $primary-color;
  }

  &:read-only {
    border-color: transparent;
    background-color: $disable-color;
  }

  &--gray {
    background-color: $contrast-color;
  }

  &--border-gray {
    border-color: $input-color;
  }

  &--select {
    width: 100%;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
    background-size: 0.65rem auto;

    &:read-only {
      border-color: transparent;
      background-color: $main-background-color;
    }

    &--disabled {
      user-select: none;
      background-color: $disable-color !important;
      pointer-events: none;
    }

    &--border {
      border-color: $input-color !important;
    }
  }

  &--invalid {
    border-color: $danger-color !important;

    &:focus {
      border-color: $danger-color !important;
    }
  }
}

/* The container */
.radion-buttons {
  display: flex;
  height: 27px;
  align-items: center;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radion-buttons input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radion-buttons:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radion-buttons input:checked ~ .checkmark {
  background-color: $primary-color;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radion-buttons input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radion-buttons .checkmark:after {
  top: 9px;
  left: 9px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
}
