$primary-font: "Roboto", sans-serif;
$side-menu-header-size: 80px;

$text-color: #000;
$text-color-contrast: #fff;
$main-background-color: #fff;
$contrast-color: #f5f7f9;
$disable-color: #efefef;
$input-color: #c3c6d1;
$primary-color: #438bfb;
$danger-color: red;
