<div class="login-wrapper">
  <div class="login">
    <div class="login__logo">
      <img src="../../../../../assets/images/logo.svg" alt="" />
      <span>catLucrez</span>
    </div>
    <div class="login__container">
      <div class="login__container__form">
        <div class="login__container__form__item">
          <input
            [(ngModel)]="email"
            class="input"
            placeholder="Email"
            autocomplete="new-email"
            type="email"
          />
        </div>
        <div class="login__container__form__item">
          <input
            [(ngModel)]="password"
            class="input"
            placeholder="Password"
            autocomplete="new-password"
            type="password"
          />
        </div>
      </div>
      <div class="login__container__action">
        <div
          [class.loading]="isLoading"
          (click)="onLogin()"
          class="btn btn--primary"
        >
          Log In
        </div>
      </div>
    </div>
  </div>
</div>
