<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>

<!--  -->
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>
<p>home works!</p>
<div class="logout" style="width: 300px">
  <div (click)="onLogout()" class="btn btn--primary">Logout</div>
</div>

